#slajder-zdjec {
 margin: 100px auto; /*wyrównanie w poziomie */
 width: 800px; /*szerokość slider'a i obrazów*/
}
 
#ramka-slajdow {
 height: 600px; /*wysokość obrazów*/
 overflow: hidden;
 border: 2px solid #8f8c8e;
}
 
#slajdy {
 height: 1000px;
 overflow: hidden; /*ukrywamy wszystko, co wystaje po za prostokąt 600x400px*/
 position: relative; /* "#slajdy" będzie naszym kontekstem pozycjonującym, dla poszczególnych slajdów*/
}

#nawigacja {
 margin: 5px 0 0 0;
 text-align: center;
 z-index: 10;
}
 
#nawigacja a {
 display: inline-block; /*numery slajdów będą obok siebie*/
 text-decoration: none;
 background: #9e9a9d;
 border-radius: 50%; /*numery slajdów będą w kółeczkach się w kółeczkach */
 padding: 2px 6px;
 color: #FFFFFF;
 /*prosta animacja, przy najechaniu myszką nad konkretny numr slajdu*/
 -webkit-transition: all linear .1s;
 -moz-transition: all linear .1s;
 -o-transition: all linear .1s;
 transition: all linear .1s;
}
 
#nawigacja a:hover {
 background: #777476;
}

#slajdy img {
  position: absolute;
  top: 0;
  left: -600px;
  z-index: 1;
  opacity: 0;
  /* animacja */
  -webkit-transition: all ease-out .7s;
  -moz-transition: all ease-out .7s;
  -o-transition: all ease-out .7s;
  transition: all ease-out .7s;
}

#slajdy img:target {
  left: 0;
  z-index: 2;
  opacity: 1;
}